<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img class="icons" src="{{ 'assets/images/follow.png' | relative_url }}">
                <h1>
                    Follow us
                </h1>
                <div>
                        <a href="http://www.facebook.com" class="fa fa-facebook"></a>
                        <a href="http://www.twitter.com" class="fa fa-twitter"></a>
                        <a href="http://www.instagram.com" class="fa fa-instagram"></a>
                </div>  
            </div>
            <div class="col-3">
                <img class="icons" src="{{ 'assets/images/adres.png' | relative_url }}">
                <h1>
                    Adres
                </h1>
                <p>
                    Smidsestraat 11 
                <br>
                    1760 Roosdaal 
                <br>
                    België
                </p>
                
            </div>
            <div class="col-3">
                <img class="icons" src="{{ 'assets/images/email.png' | relative_url }}">
                <h1>
                    Email
                </h1>
                <p>
                    info@iparty.com
                </p>
            </div>
            <div class="col-3">
                <img class="icons" src="{{ 'assets/images/telefoon.png' | relative_url }}">
                <h1>
                    Telefoon
                </h1>
                <p>
                    054 26 00 82
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                 
        </div>
    </div>
</footer>