nav {
    background-color: #343D5A;
  }

  .navbar-nav {
    width: 100%;
    height: 100%;
    float: left;
    font-family: 'Futura';
    font-size: 16px;
    letter-spacing: 2px;
  }

  .nav-link {
    color: #EAF4F3;
    padding: 12px;
    margin-left: 100px;
    text-align: center;
  }

  .nav-link:active {
    color: #FFD195;
  }

  .nav-link:hover {
    color: #FFD195;
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
        float: none !important;
        margin-right: 0;
    }
  }


